@page
@model Identity.Web.Pages.Index

@{
    var userAuthenticated = User.Identity!.IsAuthenticated;
    var identityName = userAuthenticated ? User.Identity.Name : "";
}

<div class="welcome-page">
    <h1>
        Welcome @identityName
    </h1>

    @if (!userAuthenticated)
    {
        <ul>
            <li>
                <a href="~/account/login">Login</a>
            </li>
            <li>
                <a href="~/account/register">Register</a>
            </li>
        </ul>
    }
</div>